/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against dark background */
a {
    color: #58a6ff;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.rank-Grandmaster {
    color: #a3022c;
}

.rank-Master {
    color: #9370db;
}

.rank-Diamond {
    color: #b9f2ff;
}

.rank-Ruby {
    color: #d51c5e;
}

.rank-Sapphire {
    color: #286cd3;
}

.rank-Platinum {
    color: #3fabb8;
}

.rank-Gold {
    color: #f1c232;
}

.rank-Silver {
    color: #cccccc;
}

.rank-Bronze {
    color: #b45f06;
}

.rank-Iron {
    color: #817876;
}

.rank-Placement { /*color: #817876*/
}

/* Ensure that cell values inside tables are not word wrapped */
.table-dark td {
    white-space: nowrap
}

.table-dark {
    border: 1px solid #454d55;
}

.table-dark > thead > tr > td,
.table-dark > thead > tr > th {
    background-color: #0a2d61;
}

.table-dark > tbody > tr:nth-child(2n+1) > td,
.table-dark > tbody > tr:nth-child(2n+1) > th {
    background-color: #212121;
}

.table-dark > tbody > tr:nth-child(2n) > td,
.table-dark > tbody > tr:nth-child(2n) > th {
    background-color: #2f2f2f;
}

.pagination-dark > .page-item > .page-link {
    color: var(--white);
    background-color: var(--gray-dark);
}

.pagination-dark > .page-item.disabled > .page-link {
    color: var(--gray);
}

#rules > li {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em
}

#rules > li > ul,
#rules > li > ol {
    padding-top: 20px;
    font-weight: initial;
    font-size: initial;
    text-transform: initial;
}

#rules > li > ol > li {
    padding-bottom: 10px;
}

#rules > li > ol > li > ul,
#rules > li > ol > li > ol {
    padding-top: 10px;
}

#rules > li > * li::marker {
    font-weight: bold;
}

body::-webkit-scrollbar {
    display: none;
}

#selectLanguage > select {
    width: 48px;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

th.table-sub-header {
    font-size: 0.8rem;
    border-bottom: none !important;
}

th.table-sub-header::after {
    content: "";
    display: block;
    border-bottom: 2px solid teal;
    width: 96%;
    position: relative;
    left: 2%;
    bottom: -4.8px;
}

tr.table-sub-header-row-2 > th {
    border-top: none !important;
    font-size: 0.8rem;
    width: 110px;
}
